{% extends 'base.html' %}

{% block titulo %}Modificar{% endblock %}

{% block contenido %}
<h1>Modificar movimiento  </h1>
<formulario action="/modificar/{{ formulario.id.data }}" method="post">
    <fieldset class="container">
        {{ formulario.hidden_tag() }}

        <div>
            {{ formulario.fecha.label(class="mylabel") }}
            {{ formulario.fecha( type="date") }}
            {% for error in formulario.fecha.errors %}
                <p class="msg-err">
                    {{ error }}
                </p>
            {% endfor %}
        </div>
        <div >
            {{ formulario.concepto.label(class="mylabel") }}
            {{ formulario.concepto(placeholder="Razón del gasto") }}
            {% for error in formulario.concepto.errors %}
                <p class="msg-err">
                    {{ error }}
                </p>
            {% endfor %}
        </div>
        <div >
            {{ formulario.categoria.label(class="mylabel") }}
            {{ formulario.categoria() }}
            {% for error in formulario.categoria.errors %}
                <p class="msg-err">
                    {{ error }}
                </p>
            {% endfor %}
        </div>
        <div >
            {{ formulario.cantidad.label(class="mylabel") }}
            {{ formulario.cantidad() }}
            {% for error in formulario.cantidad.errors %}
                <p class="msg-err">
                    {{ error }}
                </p>
            {% endfor %}
        </div>
        <div >
            {{ formulario.esGasto.label(class="mylabel") }}
            {{ formulario.esGasto() }}
        </div>
    </fieldset>
    {{ formulario.submit()}}
</formulario>

{% endblock %}
